@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	text-transform:  full-width;
}
body{
	background: #ffffff;
}
body a{
	text-decoration: none;
}

/*------------- Sobre header.php -----------*/
header{
	position: fixed;
	width: 100%;
}
.header{
	color: #FFF;
	background: #AE280F;
	height: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	
}
.header h1 {
	font-size: 1.5rem;
}
.header h1 span{
	color: #E17B26;
	font-weight: bold;
}
.optionsBar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.optionsBar span {
    margin: 0 30px;
}
.user{
	display: flex;
    justify-content: center;
    align-items: center;
	gap: 1rem;
	text-transform: uppercase;
}
.close{
	width: 25px;
    height: 25px;
}
.optionsBar a {
    display: flex;
    margin-left: 30px;
}

/*------------- Sobre nav.php -----------*/

nav ul{
	background: #608235;
	list-style: none;
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 0;
}
nav li:hover{
	background: #82af47;
}

nav ul > li a{
	position: relative;
	text-decoration: none;
	display: flex;
    gap: 0.5rem;
}
nav a{
	color: #FFF;
	display: block;
	font-size: 10pt;
	padding: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: background .5s;
	
}

nav ul li:hover ul{
	display: block;
}
nav li ul{
	background: #82af47;
	display: none;
	flex-direction: column;
	position: absolute;
	align-items: flex-start;
	border-radius: 0 0 10px 10px;
}
nav li ul a{
	position: relative;
	padding: 10px 30px;
	border-right: initial;
}
nav li ul a:hover{
	color: black;
	font-weight: bold;
}

nav li ul li:last-child{
	border-radius: 0 0 10px 10px;
	overflow: hidden;
}
 
/* --------General----------- */
#container{
	padding: 7rem 1rem 1rem 1rem;
}
#container1{
	padding: 10px 15px 15px;
}
/* ---------------IINICIO -------------*/
.manualUsuario img:hover{
	transform: scale(1.2);
}
/* ---------------REGISTRO USUARIOS -------------*/

.form_register{
	width: 480px;
	margin: auto;
}

.form_register h2{
	font-size: 2rem;
	width: 100%;
}

form{
	background: #cccccc;
    margin-top: 1rem;
    padding: 20px 50px;
    border-radius: 5px;
}
label{
	display: block;
	font-size: 1rem;
	font-weight: 600;
	margin: 15px auto 0 auto;
}
input, select, textarea{
	display: block;
	width: 100%;
	font-size: .75rem;
	padding: 5px;
	border: 1px solid #85929e;
	border-radius: 5px;
}
.notItemOne option:first-child{
	display: none;
}
.btn_suave{
	font-size: .85rem;
	background: #608235;
	padding: 10px;
	color: #fff;
	letter-spacing: 1px;
	border: 0;
	cursor: pointer;
	border-radius: 5px;
	width: 100%;
    margin-top: 2rem;
}
.btn_suave:hover{
	background: #425a22;
	box-shadow: 3px 3px 1px #413e3e
}

div .alert{
	width: 100%;
	position: relative;
    z-index: -5;
}
.msg_error{
	color: red;
    font-weight: bold;
	background: #e1bcbc;
	border-radius: 8px;
}
.msg_save{
	color: rgb(77 157 92);
	font-weight: bold;
	background: #cdfd6d;
    border-radius: 8px;
}
.alert p {
	text-align: center;
	margin: 0;
}

/* ---------------LISTA USUARIO --------------*/
#container h2{
	margin: 0;
    display: inline-block;
	font-size: 1.8rem;
	padding-bottom: 1rem;
}
#container1 h2{
	margin: 0;
    display: inline-block; 
	font-size: 1.8rem;
	padding-bottom: 1rem;
}
.btn_new{
    display: inline-block;
    background: #e0a22f;
    color: #fff;
    padding: 5px 25px;
    border-radius: 4px;
    margin: 20px;
}
.btn_new:hover{
	box-shadow: 3px 3px 1px #635f5f
}
table{
	border-collapse: collapse;
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
}
table th{
	text-align: left;
	padding: 10px;
	background: #4f5153;
	color: #fff;
}
table tr:nth-child(odd){
	background: #aaa9a9;  /* ver que se puede ahcer con boostrap (pinta las filas una de color y otra no*/
}
table td{
	padding: 10px;
}
.link_edit{
	color: #0b94b9;
	font-weight: 600;
}
.link_delete{
	color: #f26b6b;
	font-weight: 600;
}

/*------------------------PAGINADOR-------*/

.paginador ul{
	padding: 15px;
	list-style: none;
	background: #fff;
	
	display: flex;
	justify-content: flex-end;
}
.paginador a, .pageSelected{
	color:#428bca;
	border: 1px solid #ccc;
	padding: 5px;
	display: inline-block;
	font-size: 14px;
	text-align: center;
	width: 35px;
}
.paginador a:hover{
	background: #ccc;
}
.pageSelected{
	color: #fff;
	background: #428bca;
	border:  1px solid #428bca;
}

/*------BUSCADOR-------*/
.form_search{
	display: flex;
	float: right;
	background: initial;
	padding: 10px;
	border-radius: 10px;
}
.form_search input{
	border: none;
}
.form_search .btn_search{
	background: #1faac8;
	color: #fff;
	padding: 0 20px;
	border: 0;
	cursor: pointer;
	margin-left: 10px;
	display: flex;
}
.btn_search{
	display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
	border-radius: 5px;
}

/* ---------------ELIMINAR USUARIO --------------*/

.data_delete{
	text-align: center;
}
.data_delete h2{
	font-size: 12pt;
}
.data_delete span{
	font-weight: bold;
	color: #4f72d4;
	font-size: 12pt;
}
.btn_cancel,.btn_ok{
	font-size: 1rem;
	width: 124px;
	background: #268d48; /*478ba2*/
	color: #fff;
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	margin: 15px;
}
.btn_cancel{
	background: #8d0707;
}
.data_delete form{
	background: initial;
	margin: auto;
	padding: 20px 50px;
	border: 0;
	
}

@media print {
	/* Ocultar para la impresión */
	.encabezado, .close, .no-print {
	  display: none;
	}
  }
